<a href="https://colab.research.google.com/github/kmaso99/StudentChatbott/blob/main/DSP_SQL_Queries_3_Kate_Mason.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



<h1 align="center">
    NSDC Data Science Projects
</h1>

<h2 align="center">
    Project: Advanced SQL Queries - #3
</h2>

<h3 align="center">
    Name: Kate Mason
</h3>

**Project Description:**

To work with the New York City Airbnb dataset in this project, you'll need to create and connect to an SQLite database as seen in the steps within this notebook.

**Key Features**

- Practical SQL exercises with step-by-step instructions.
- Real-world datasets for hands-on experience.
- Comprehensive explanations of SQL queries and concepts.
- Interactive coding examples and challenges.

**Dataset**
- You can find the New York City Airbnb dataset on Kaggle: [New York City Airbnb Dataset](https://www.kaggle.com/datasets/dgomonov/new-york-city-airbnb-open-data)
- Download the dataset from the provided link and save it as 'AB_NYC_2019.csv' on your computer.
- On colab, click on the "Upload" button and select the 'AB_NYC_2019.csv' file from your local computer.

## Introduction
This SQL project is designed for intermediate to advanced learners who want to practice writing SQL queries using a real-world dataset. In this project, we will work with the New York City Airbnb dataset. The main goal is to practice SQL syntax and advance data analysis tasks. Make sure to complete the code where there is a 'TODO' sign. Hints are provided along the way.

## Table of Contents
1. [Libraries and Database Setup](#database-setup)
2. [Loading the Dataset](#loading-dataset)
3. [Advanced SQL Queries](#sql-queries)
4. [Closing Connection](#closing-connection)
5. [Summary of Advanced SQL Commands](#summary-commands)

# Section 1: Libraries and Database Setup <a name="database-setup"></a>

### Task 1.1: Import Libraries
Let's start by importing the necessary libraries.

In [1]:
import pandas as pd
import numpy as np
import sqlite3

### Task 1.2: Connect to the Database

Next, establish a connection to the SQLite database named 'airbnb.db'.
Use the sqlite3 library to create a connection object and store it in a variable called 'conn'.

In [2]:
# Completed

# Connect to the SQLite database
conn = sqlite3.connect('airbnb.db')
cursor = conn.cursor()

# Section 2: Loading the Dataset <a name="loading-dataset"></a>

### Task 2.1: Load the Dataset
- You will work with the 'listings' table from the New York City Airbnb dataset.
- Load the dataset from the CSV file 'AB_NYC_2019.csv' into a DataFrame named 'df'.
- Then, import the DataFrame into the 'listings' table in the database using the to_sql() method.

\\

Hint: Use the read_csv() method from pandas to read the CSV file.

In [3]:
# Completed

# Load the dataset into the SQLite database
data_path = 'AB_NYC_2019.csv'
df = pd.read_csv(data_path)
df.to_sql('listings', conn, if_exists='replace', index=False)

48895

# Section 3: Advanced SQL Tasks <a name="sql-queries"></a>

Query the database: Write SQL queries to analyze the data in the SQLite database. You can use the sqlite3 library to execute the queries and fetch the results.

### Task 3.1: Analyzing Host Performance
- Find the top 10 hosts with the highest average ratings.
- Include host's name, number of reviews, and average rating.

In [6]:
# Your code here:

query = """
SELECT host_name, COUNT(id) AS num_reviews, AVG(reviews_per_month) AS avg_rating
FROM listings
GROUP BY host_id
ORDER BY avg_rating DESC
LIMIT 10;
"""

In [7]:
# Completed

result = pd.read_sql_query(query, conn)
print("\nAnalyzing Host Performance:")
print(result)

Analyzing Host Performance:
   host_name  num_reviews  avg_rating
0     Louann            1   20.940000
1    Row NYC            9   18.620000
2    Nalicia            3   18.126667
3      Brent            1   15.780000
4       Dona            2   13.990000
5   Danielle            5   13.604000
6    Aisling            1   13.420000
7  Stephanie            1   13.330000
8     Malini            1   13.150000
9        Ben            1   13.130000

### Task 3.2: Analyzing Monthly Price Trends
- Display the month, average price, and number of listings for each month.

In [8]:
# Your code here:

query = """
SELECT strftime('%m', last_review) AS month, AVG(price) AS avg_price, COUNT(*) AS num_listings
FROM listings
GROUP BY month
ORDER BY avg_price DESC;
"""

In [9]:
# Completed

result = pd.read_sql_query(query, conn)
print("Analyzing Monthly Price Trends:")
print(result)

Analyzing Monthly Price Trends:
   month   avg_price  num_listings
0   None  192.919021         10052
1     12  160.796610          1770
2     02  155.716883           770
3     01  150.478904          2773
4     09  149.494463          1535
5     07  142.290382          5937
6     10  142.065330          1546
7     06  140.769667         13589
8     04  139.504979          2109
9     11  138.532815          1158
10    05  137.909594          4701
11    03  136.836957          1288
12    08  132.133173          1667

### Task 3.3: Find the top 5 neighborhoods with the highest price variability
-  Find the top 5 neighborhoods with the highest price variability.
-  Display neighborhood and price variability.

In [10]:
# Your code here:

query = """
WITH price_variability AS (
    SELECT neighbourhood,
        AVG(price) AS avg_price,
        MAX(price) AS max_price,
        MIN(price) AS min_price
    FROM listings
    GROUP BY neighbourhood
)
SELECT neighbourhood,
       max_price - min_price AS price_variability
FROM price_variability
ORDER BY price_variability DESC
LIMIT 5;
"""

In [11]:
# Completed

result = pd.read_sql_query(query, conn)
print("Advanced Aggregation:")
print(result)

Advanced Aggregation:
     neighbourhood  price_variability
0       Greenpoint              10000
1  Upper West Side               9990
2          Astoria               9975
3  Lower East Side               9970
4      East Harlem               9969

### Task 3.4: Advanced Data Manipulation
- Calculate days since the last review and identify top 10 listings.
- Display listing ID, name, and days since the last review.

In [14]:
# Your code here:

query = """
-- 1. Select the following columns from the 'listings' table:
SELECT id, name,
       julianday('now') - julianday(last_review) AS days_since_last_review
FROM listings
ORDER BY days_since_last_review DESC
LIMIT 10;
"""

In [15]:
# Completed

result = pd.read_sql_query(query, conn)
print("\nAdvanced Data Manipulation:")
print(result)

Advanced Data Manipulation:
       id                                               name  \
0   74860  Sunlit and Cozy Williamsburg/Greenpoint, Brooklyn
1   40039                 Luxurious Condo in DUBMO with View
2   81739                  Loft w/ Terrace @ Box House Hotel
3   28396                  Modern Apt with Spectacular Views
4   32363                 Fully Furnished Basement Apartment
5   27883                             East Village Sanctuary
6    7801                   Sweet and Spacious Brooklyn Loft
7  229874                     Oversized Studio in Park Slope
8   98330                LOVELY APARTMENT IN THE HEART OF NY
9  464231                     Large Room w/ Private Entrance

   days_since_last_review
0             5180.885053
1             5152.885053
2             5135.885053
3             5006.885053
4             5005.885053
5             4923.885053
6             4905.885053
7             4900.885053
8             4899.885053
9             4752.885053

### Task 3.5:  Identifying Top Hosts by Revenue
- Calculate the total revenue generated by each host and rank them based on revenue.
- Display the host name, total revenue, and their rank.

In [16]:
# Your code here:

query = """
WITH host_revenue AS (
    SELECT host_name, SUM(price * minimum_nights) AS total_revenue
    FROM listings
    GROUP BY host_name
)
SELECT host_name, total_revenue,
       RANK() OVER (ORDER BY total_revenue DESC) AS revenue_rank
FROM host_revenue
ORDER BY total_revenue DESC
LIMIT 10;
"""

In [17]:
# Completed

result = pd.read_sql_query(query, conn)
print("Identifying Top Hosts by Revenue:")
print(result)

Identifying Top Hosts by Revenue:
      host_name  total_revenue  revenue_rank
0    Blueground        2258580             1
1         Jenny        1215111             2
2          Kara        1172637             3
3           Amy        1153867             4
4      Kathrine        1002082             5
5  Sonder (NYC)         950453             6
6         Iveta         857750             7
7        Noelle         732930             8
8       Pranjal         664320             9
9       Michael         610539            10

# Section 4: Closing the Database Connection <a name="closing-connection"></a>

### Task 4.1: Close the Cursor and Database Connection
- It's good practice to close the cursor and the database connection when you're done working with the database to free up system resources and maintain proper connection management.

In [18]:
# Completed

# Make sure to include these lines of code at the end of your script to properly close the cursor and database connection.
cursor.close()
conn.close()

# Section 5: Summary of Advanced SQL Commands <a name="summary-commands"></a>

In this project, you have practiced various SQL commands and tasks. Below is a summary of the advanced SQL commands used:

**Task 1.2: Connect to the Database**
- Established a connection to the SQLite database.

**Task 2.1: Load the Dataset**
- Loaded the dataset into a DataFrame.
- Imported the DataFrame into the database.

**Task 3.1: Identifying Top Hosts by Reviews and Ratings**
- SQL Commands: SELECT, COUNT(), AVG(), GROUP BY, ORDER BY, LIMIT
- Description: Calculate the number of reviews and average ratings for each host and identify the top hosts by ratings and reviews.

**Task 3.2: Analyzing Seasonal Price Trends**
- SQL Commands: SELECT, strftime(), AVG(), COUNT(), GROUP BY, ORDER BY
- Description: Analyze seasonal price trends by extracting the month from the last review date and calculating average prices.

**Task 3.3: Finding Neighborhoods with Price Variability**
- SQL Commands: WITH, SELECT, AVG(), MAX(), MIN(), GROUP BY, ORDER BY
- Description: Identify neighborhoods with the highest price variability by calculating the difference between the maximum and minimum prices.

**Task 3.4: Advanced Data Manipulation**
- SQL Commands: SELECT, julianday(), ORDER BY, LIMIT
- Description: Calculate the number of days since the last review for each listing and sort them by the days since the last review.

**Task 3.5: Identifying Top Hosts by Revenue**
- SQL Commands: SELECT, SUM(), RANK(), GROUP BY, ORDER BY, LIMIT
- Description: Determine the top hosts by total revenue generated from their listings, including a ranking based on revenue.

**Task 4.1: Close the Cursor and Database Connection**
- Closed the cursor and the database connection.

This summary provides an overview of the advanced SQL commands used in this project. You can use this as a reference for future SQL projects and data analysis tasks.

<h3 align = 'center' >
Thank you for completing the project!
</h3>

Please share your completed Google Colab Notebook with nsdc@nebigdatahub.org to receive a certificate of completion. Do reach out to us if you have any questions or concerns. We are here to help you learn and grow.

If you have any queries, please contact the NSDC HQ Team at nsdc@nebigdatahub.org.